@import "reset"
@import 'nib'

body
  font-family: 'verdana'
  -webkit-font-smoothing: antialiased
  text-align:center

a
  color:#4C4C4C
  text-decoration:none

div#content
  text-align:left
  min-width:480px
  width:480
  margin:0 auto
  padding:1em

h1
  margin:1em 0 0.3em
  font-size:3em
  font-weight:200
  text-align:center
  font-family: "ratio",sans-serif

h2
  font-size:1em
  font-family: "ratio",sans-serif
  color:#4C4C4C
  text-align:right
  font-weight:400

h2:after
  content:" or plehoux@gmail.com"

h3
  font-family: "ratio",sans-serif
  font-size:1.8em
  margin:3em 1em 1em 1em
  text-align:center
  font-weight:400

dt
  font-size:1.2em

dt a,dt
  font-family: "ratio",sans-serif
  font-weight:400
  color:#000

dt a:hover
  font-weight:600


dt,dd
  margin:0.4em 0 1.2em 0
  line-height:1.4em


dd
  text-align:justify
  margin-left: 2em


@media screen and (max-width: 480px) 
  div#content
    min-width:320px
    width:320
    padding:0
  
  h1
    font-size:2em

  h2
    font-size:0.8em

  h3
    font-size:1.5em
    margin: 2em 1em 1em 1em

  dt
    font-size:1.1em
  
  dd
    margin-left:1em
  